## Week 3 Notebook 1 - Scraping the Candian Postal codes from Wikipedia

In [14]:
#import our favorite libraries 

import pandas as pd
import numpy as np

In [15]:
# read the Canadian postal codes from Wikipedia 
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [16]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
# We only want postal codes with an assigned borough, so drop those that are marked "Not assigned"
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)

In [18]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.  Find anythat exist in the dataframe
df_bad = df[df.Neighborhood == 'Not assigned']
df_bad

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [20]:
# there are no 'Not assigned' neighborhoods, so no adjustment is necessary.

# print the number of rows and columns in the dataframe, using shape.
df.shape

(103, 3)